<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css"/>
    <script>src = "vendor/uikit/js/uikit.min.js"</script>
    <script>src = "vendor/uikit/js/uikit.icons.min.js"</script>
    <link rel="stylesheet" href="vendor/fontawesome-/css/all.min.css"/>
    <link rel="stylesheet" href="eni-theme.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>



<body>
<nav>
    <div class="menu">
        <a href="list-films">Liste des films</a>
        <a href="details-films">Details du film</a>

    </div>
</nav>
<h1>Liste des Films</h1>

<ul>
    <li th:each="movie:${movies}"th:text="${movie.title}"></li>
</ul>


</body>
</html>