<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aflam</title>
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css"/>
    <script>src = "vendor/uikit/js/uikit.min.js"</script>
    <script>src = "vendor/uikit/js/uikit.icons.min.js"</script>
    <link rel="stylesheet" href="eni-theme.css">
</head>
<body class="eni-page-background">
<div >
    <div>
        <h1>Aflams</h1>
    </div>
    <div>
        <h2>Marhaba dans notre site</h2>
    </div>
    <div>
        <img src="https://medievaledelussan.fr/t_img/7ea0be5a0207202c112f83a549b578a4-2024.jpg">
        <p> </p>

    </div>
    <div>
        <img src="https://medievaledelussan.fr/t_img/8c6a828010966ede44ce3c860d1e25c0-2024.jpg">
        <p></p>

    </div>

    <div>
        <img src="https://medievaledelussan.fr/t_img/aff98b79199edbe19524dd279ed3cb98-2024.jpg">
        <p></p>
    </div>
    <div>
        <img src="https://medievaledelussan.fr/t_img/0095689d57bbe124620002a03abd7430-2024.jpg">
    </div>
</div>
</body>
</html>