<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<h1>Details des Films</h1>
<body>
<title layout:fragment="title">Details du films</title>
<!-- Je rajoute du css -->
<div layout:fragment="css-files">
    <link rel="stylesheet" th:href="@{/css/eni-movie-detail.css}"/>
</div>
<div layout:fragment="content">
    <section class="eni-movie-detail-banner clearfix">
        <div class="eni-banner-content-wrapper">
            <div class="eni-poster">
                <img th:src="@{${movie.url}}"/>
            </div>
            <div class="eni-detail-content">
                <h2 class="title" th:text="${movie.title}"></h2>

                <p th:text="${'Année :'+movie.year}"></p>

                <p class="description" th:text="${'Synopsis : ' +movie.synopsis}"></p>
                <p th:text="${'duree :' +movie.duration + ' minutes'}"></p>
            </div>
        </div>
    </section>
</div>
</body>
</html>