<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<body>
<title layout:fragment="title">Liste de films </title>
<div layout:fragment="content">
    <h1>Liste des Films</h1>
    <div th:each="movie : ${movies}" class="uk-padding-small">
        <div class="eni-movie-card" th:style="'background-image: url(' + @{${movie.url}} + ');'">
            <div class="eni-movie-card-layer-2">
                <h1 th:text="${movie.title}"></h1><span th:text="${movie.duration} + ' min'"></span>
                <span th:text="${'Année :'+movie.year}"></span>
                <div>
                    <i th:each="star: ${maxStars}" class="fa fa-star"
                       th:classappend="${movie.getNote() >= star} ? 'eni-star-check' : ''"></i>
                </div>

            </div>
            <a class="eni-movie-card-click" th:href="@{/details/{id}(id=${movie.id})}" >

            </a>
        </div>
    </div>
</body>
</html>